


#header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: -4px;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.navbar__item {
    padding: 0 8px;
    min-height: 14px;
    position: relative;
    display:inline-flex;
}

.navbar__user {
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}
.navbar__user-avatar {
    height:16px;
   
    padding-bottom: 22px;
    padding-left: 8px;
    cursor: pointer;
}
.navbar__user-img {
    width: 22px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
.navbar__user-name {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);
    text-align: center;
    
}

.navbar__user:hover .navbar__user-menu {
    display:block;
}
.navbar__user:hover .navbar__user-name {
    color: #ccc;
}
.navbar__user-menu {
    position:absolute;
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    right: 8px;
    top: calc(100% + 12px);
    width:140px;
    background-color: var(--white-color);
    z-index: 10;
    box-shadow: 0 1px 2px #ccc;
    display:none;
}
.navbar__user-menu::before {
    content: "";
    display: block;
    position:absolute;
    top: -24px;
    right: 24px;
    border-width: 12px 16px;
    border-style:  solid;
    border-color: transparent transparent #fff transparent;
}
.navbar__user-menu::after {
    content: "";
    display: block;
    position:absolute;
    top:-8px;
    right: 0;
    width: 100%;
    height: 12px;
}
.navbar__user-menu-item {
    width: 100%;
}
.navbar__user-menu-item a {
    text-decoration: none; 
    display:block;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 16px;
    width: 100%;
}
.navbar__user-menu-item:first-child {
    border-radius: 2px;
}
.navbar__user-menu-item:last-child {
    border-radius: 2px;
}
.navbar__user-menu-item:hover {
    background-color: #fafafa;
}

.navbar__item,
.navbar__link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
#header .navbar__icon {
    color: var(--white-color);
    cursor: pointer;
    margin:4px;
}

.navbar__item--notice:hover .navbar__icon,
.navbar__item--notice:hover .navbar__link,
.navbar__icon--social:hover,
.navbar__link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.navbar__item--bold .navbar__link {
    font-weight: 400;
}

.navbar__item--seprate {
    border-right: 1px solid #fb9086;
    max-height: 10px;
}

#header .navbar__title {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code  */

#header .qrcode {
    background-color: var(--white-color);
    width: 200px;
    left: 0;
    position: absolute;
    padding:8px;
    margin-left:8px;
    border-radius: 2px;
    margin-top: 8px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    will-change: opacity;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#header .navbar__item--hasqr:hover .qrcode {
    display: block;
}

#header .qrcode::before {
    content: "";
    width:100%;
    height: 20px;
    display: block;
    position:absolute;
    left: 0;
    top: -8px;
}

#header .qr-img {
    width: 100%;
}

#header .qrapps {
    display: flex;
    justify-content: space-between;
}
#header .download-link:first-child {
    margin-left:11px;
}
#header .download-link:last-child {
    margin-right:11px;
}

#header .app-img {
    height: 18px;
}


/* Notification */

.navbav__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    margin-top: 8px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: growNoti ease-in 0.25s;
    will-change: transform, opacity;
    z-index: 10;
}
.notify__header {
    background-color: var(--white-color);
    height: 4rem;
}

.notify__header h3 {
    margin: 0 0 0 1.2rem;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 4rem;
}
.notify__list {
    padding-left: 0;
}
.notify__item {
    display: flex;

}
.notify__item:hover {
    background-color: #f7f7f7;
}
.notify__item--viewd {
    background-color: #999;
}
.notify__link {
    display: flex;
    padding: 1.2rem;
    width: 100%;
    text-decoration: none;
    background-color: rgba(238, 75, 43, 0.1);
}
.notify__img {
    width:4.2rem;
    object-fit:contain; 
}
.notify__info {
    margin-left: 1.2rem;

}
.notify__name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.notify__desc {
    margin-top: 0.4rem;
    display: block;
    font-size: 1.2rem;
    color: #999;
}

.notify__footer {
        display: flex;
}

.notify__footer--btn {
    text-decoration: none;
    padding: 1rem 0;
    width: 100%;
    display: block;
   text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
}

#header .navbar__item--notice:hover .navbav__notify {
    display:block;
}

#header .navbav__notify::before {
    content: "";
    display: block;
    position:absolute;
    top: -30px;
    right: 14px;
    border-width: 20px 28px;
    border-style:  solid;
    border-color: transparent transparent #fff transparent;
}
#header .navbav__notify::after {
    content: "";
    display: block;
    position:absolute;
    width: 100px;
    right: 0;
    top:-16px;
    height: 20px;

}

/* Authen modal */


.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-from__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}
.auth-from__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.auth-form__form {
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #888;
}
.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 1.4rem;
    line-height:1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;   
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back {
    margin-right: 8px;
}
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon {
    font-size: 1.8rem;
}
.auth-form__socials--fb {
    background-color: #3A5A98;
    color: var(--white-color);
}
.auth-form__socials--fb .auth-form__socials-icon {
    color: var(--white-color);
}
.auth-form__socials-title {
    margin: 0 36px;
    
}
.auth-form__socials--gg {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials-login {
    width:500px;
    padding: 16px 32px;
    margin-left: -32px;
}
.auth-form__help {
    display: flex;
    justify-content:flex-end;
}
.auth-from__help-link {
        font-size: 1.4rem;
        text-decoration: none;
        padding-top: 8px;
        color: #939393;
}
.auth-from__help-separate {
    display: block;
    height:22x;
    margin: 1px 16px 0;
    border-left: 1px solid #eaeaea;
}
.auth-from__help-forgot {
    color: var(--primary-color);
}
.header-with-search {
    height: var(--header-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo {
    width: 200px;
}
.header__logo-img {
    width: 120px;
}
.header__search {
    background-color: var(--white-color);
    height:40px;
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 2px;
    
}
.header__cart {
    width: 150px;
    text-align: center;
    padding: 8px 0;
    position: relative;
}
.header__cart-list-item {
    padding:0;
    height: 56vh;
    overflow-y: auto;
}
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 16px;
    font-size: 1.5rem;
    color: #999;
    font-weight: 400;
}
.header__cart-item { 
    display: flex;
    width: 100%;
    padding-left: 38px;
    align-items: center;
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin-right: 12px;
    margin-left: -28px;
    margin-top:auto;
    margin-bottom: auto;
    border: 1px solid var(--border-color);
    display: absolute;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 8px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.4rem;
    padding: 4px 0;
    height: 1.9rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.header__cart-price-wrap {
    display: flex;
}
.header__cart-item-price {
    color: var(--primary-color); 
    font-size: 1.4rem;
    font-weight: 400;

}
.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;

}
.header__cart-item-qnt {
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;

}
.header__cart-item-body {
    text-align: left;
    display: flex;
    justify-content: space-between;

}
.header__cart-item-desc {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 8px 0;

}
.header__cart-item-remove {
    color:var(--black-color);
    font-size: 1.4rem;
    cursor: pointer;
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-list::after {
    content: '';
    cursor: pointer;
    position: absolute;
    right: 4px;
    top:-26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: 100%;
    right: -6px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    margin-top: 14px;
    display:none;
    animation: fadeIn ease-in 0.3s;
    will-change: opacity;
    cursor: default;
    box-shadow: 0 1px 3.1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.header__cart-wrap:hover .header__cart-list {
    display: block;
    
}
.header__cart-notice {
    position: absolute;
    padding: 1px 4px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    background-color: var(--white-color);
    top: -8px;
    right: -4px;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-no-cart-img {
    width:30%;
    margin:40px;
    display: none;
}
.header__cart-list--no-cart-msg {
    display: none;
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.header__search-icon {
    color: var(--white-color);
    font-size: 2.2rem;
}
.header__search-input-wrap {
    flex: 1;
    height:100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    font-size: 1.5rem;
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--black-color);
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn {
    background-color: #fb5533;
    border: none;
    border-radius: 2px;
    height:34px;
    display: flex;
    align-items: center;
    padding: 0 23px;
    margin-right: 4px;
    cursor: pointer;
}
.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}
.header__search-btn:hover {
    opacity: 0.8;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc( 100% + 1px );
    width: 130px;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    margin-top: 16px;
    cursor: pointer;
    display: none;
    z-index: 1;
}
.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    padding: 8px;
    z-index: 10;
}

.header__search-option-item:hover {
    background-color:#d3d3d3;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display:none;
}
.header__search-option-item--active i{
    display: inline-block;
}

.header__search-select:hover 
.header__search-option {
    display: block;
}
.header__search-option::after {
    content:"";
    width: 125px;
    height: 20px;
    top: -16px;
    display:block;
    position:absolute;
}

/* Search history */

.header__search-history {
    position: absolute;
    background-color:var(--white-color);
    left: 0;
    width: calc(100% - 16px);
    box-shadow: 0 1px 5px #ccc;
    top: calc( 100% + 6px);
    border-radius: 2px;
    display: none;
    overflow: hidden;
    z-index: 2;
}
.header__search-input:focus ~ .header__search-history {
    display:block;
}
.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}
.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:last-child {
    border-radius: 2px;
}
.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    line-height:38px;
    display:block;
}
.header__search-history-item:hover {
    background-color:rgba(238, 75, 43, 0.1)
}

/* App container */
.app__container {
    background-color: #f5f5f5;
}
.app__content {
    padding-top: 36px;
}
.category {
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading {
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}
.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}
.category-list {
    padding:0 0 8px 0;
    list-style: none;
    margin-left: 8px;
}
.category-item {

}
.category-item--active .category-item__link {
    color: var(--primary-color);

}
.category-item--active .category-item__link::before {
    content: "";
    position:absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    left: 8px;

}
.category-item__link {
    position: relative;
    display:block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 4px 16px;
    transition: right linear 0.1s;
    right:0;
}
.category-item__link:hover {
    color: var(--primary-color);
    right:-4px;
}
/* Home short + filter */

.home-filter {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num {
    font-size: 1.5rem;
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    width:72px;
    height:36px;
    display: flex;
}
.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn {
    border-right: 1px solid #eee;
}
.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    color: #ccc;
    cursor:default;
}
.home-filter__page-icon {
    margin: auto;
    color: #555;
}
.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

/* Product Item */
.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}
.home-product {
    margin-bottom: 10px;
}
.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}
.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display:block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--text-color);
}
.home-product-item__price {
    display: flex;

    justify-content: baseline;  
    flex-wrap: wrap;
}
.home-product-item__price-old {
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #666;
    margin-left: 10px;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;

}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like {
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill {
    display: none;
    color : #f63d30;
}
.home-product-item__liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__liked .home-product-item__like-icon-empty {
    display:none;
}
.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
}
.home-product-item__rating--gold {
    color: var(--star-gold-color);
}
.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
}
.home-product-item__brand {

}
.home-product-item__origin-name {

}
.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item__favorite::after {
    content: "";
    position:absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite span {
    color: var(--white-color);
}
.home-product-item__favorite i {
    font-size: 0.9rem;
    margin: 0 2px 0 4px;
    color: var(--white-color);
}
.home-product-item__sale-off {
    position: absolute;
    right:0;
    top: 0;
    width: 40px ;
    height: 36px;
    background-color: rgba(255,216,57,1);
    text-align: center;
    padding: 6px 2px 3px;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off-percent {
    color: #f46e2f;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
}
.home-product-item__sale-off-label {
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--white-color);
}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    border-width: 0 20px 6px;
    border-style: solid;
    bottom: -6px;
    left: 0;
    border-color: transparent rgba(255,216,57,1) transparent rgba(255,216,57,1) ;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}

/*  Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list {
    list-style: none;
    padding-left:0;
}
.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 6px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover {
    color: var(--primary-color);
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}
.footer__download {
    display: flex;
}
.footer__download-qr {

    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.footer__download-app-img {
    height: 16px;
}
.footer__download-app__link {
    text-decoration: none;
}
.footer__bottom {
    padding: 12px 0;
    background-color: #f5f5f5;
    margin-top: 24px;
}
.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}